In [ ]:
pip install fairlearn

In [3]:
import pandas as pd

In [4]:
df = pd.read_csv('Challenge B Insider_Microsoft_issueDataset.csv')

In [5]:
df

,Current Evaluation Model of Likelihood to Leave,EmployeeLeft,Hired through SMTP,Marked for PHT Program,Recruiting Location Code,Salary,"Survey, Relative, Attitude toward Environment","Survey, Relative, Attitude toward Peers","Survey, Relative, Peer's Average Attitude toward Peers","Survey, Relative, Peer's Average Attitude toward Work/Life Balance",University
0,38.3,1.0,0,1,27999,41675.71,3,5,7,5,St. Norbert College
1,38.0,1.0,0,0,81996,45810.49,4,3,1,2,St. Norbert College
2,32.5,0.0,1,1,10000,51701.41,3,1,1,3,St. Norbert College
3,36.5,0.0,1,1,10000,40169.06,2,8,4,4,Enugu State University of Science and Technology
4,51.3,1.0,0,0,45998,55204.27,5,2,1,4,St. Norbert College
...,...,...,...,...,...,...,...,...,...,...,...
13995,66.4,0.0,1,0,45998,51019.41,5,3,1,1,Nazarene Bible College
13996,39.7,1.0,1,0,63997,50547.92,5,2,1,4,Enugu State University of Science and Technology
13997,56.2,1.0,0,1,10000,48895.86,5,7,1,3,Nazarene Bible College
13998,41.7,1.0,0,1,63997,49234.60,5,3,1,3,COMSATS Institute of Information Technology
13999,43.8,0.0,1,0,45998,48146.47,3,3,1,3,NHTV Breda University of Professional Education

In [6]:
df.columns

Index(['Current Evaluation Model of Likelihood to Leave', 'EmployeeLeft',
       'Hired through SMTP', 'Marked for PHT Program',
       'Recruiting Location Code', 'Salary',
       'Survey, Relative, Attitude toward Environment',
       'Survey, Relative, Attitude toward Peers',
       'Survey, Relative, Peer's Average Attitude toward Peers',
       'Survey, Relative, Peer's Average Attitude toward Work/Life Balance',
       'University'],
      dtype='object')

In [7]:
df.median()

Current Evaluation Model of Likelihood to Leave                          37.300
EmployeeLeft                                                              0.000
Hired through SMTP                                                        0.000
Marked for PHT Program                                                    1.000
Recruiting Location Code                                              45998.000
Salary                                                                47593.515
Survey, Relative, Attitude toward Environment                             4.000
Survey, Relative, Attitude toward Peers                                   4.000
Survey, Relative, Peer's Average Attitude toward Peers                    2.000
Survey, Relative, Peer's Average Attitude toward Work/Life Balance        2.000
dtype: float64

In [8]:
df.describe()

,Current Evaluation Model of Likelihood to Leave,EmployeeLeft,Hired through SMTP,Marked for PHT Program,Recruiting Location Code,Salary,"Survey, Relative, Attitude toward Environment","Survey, Relative, Attitude toward Peers","Survey, Relative, Peer's Average Attitude toward Peers","Survey, Relative, Peer's Average Attitude toward Work/Life Balance"
count,14000.000000,14000.000000,14000.000000,14000.000000,14000.000000,14000.000000,14000.000000,14000.000000,14000.000000,14000.000000
mean,37.283764,0.439000,0.498571,0.503357,52787.479929,48850.571995,3.760500,4.081143,2.702429,2.459571
std,10.523159,0.496283,0.500016,0.500007,24213.620764,5869.342714,1.275079,1.898522,1.862866,1.228257
min,1.000000,0.000000,0.000000,0.000000,10000.000000,40000.000000,1.000000,1.000000,1.000000,1.000000
25%,30.300000,0.000000,0.000000,0.000000,27999.000000,44579.760000,3.000000,3.000000,1.000000,1.000000
50%,37.300000,0.000000,0.000000,1.000000,45998.000000,47593.515000,4.000000,4.000000,2.000000,2.000000
75%,44.300000,1.000000,1.000000,1.000000,81996.000000,51870.020000,5.000000,5.000000,4.000000,3.000000
max,79.000000,1.000000,1.000000,1.000000,81996.000000,89999.000000,5.000000,8.000000,7.000000,5.000000

In [9]:
df.agg({'Survey, Relative, Attitude toward Environment': ['min', 'max', 'median', 'skew'],
        'Salary': ['min', 'max', 'median', 'mean']})

        Survey, Relative, Attitude toward Environment        Salary
max                                          5.000000  89999.000000
mean                                              NaN  48850.571995
median                                       4.000000  47593.515000
min                                          1.000000  40000.000000
skew                                        -0.608191           NaN

In [10]:
df[["Recruiting Location Code", "Salary", "Survey, Relative, Attitude toward Environment"]].groupby("Recruiting Location Code").mean()

,Salary,"Survey, Relative, Attitude toward Environment"
Recruiting Location Code,,
10000,48632.998480,3.770909
27999,48915.959135,3.733738
45998,48980.986730,3.769529
63997,48882.548615,3.756942
81996,48759.869307,3.770732

In [11]:
df.groupby("Recruiting Location Code").mean()

,Current Evaluation Model of Likelihood to Leave,EmployeeLeft,Hired through SMTP,Marked for PHT Program,Salary,"Survey, Relative, Attitude toward Environment","Survey, Relative, Attitude toward Peers","Survey, Relative, Peer's Average Attitude toward Peers","Survey, Relative, Peer's Average Attitude toward Work/Life Balance"
Recruiting Location Code,,,,,,,,,
10000,37.202764,0.435636,0.509091,0.513455,48632.998480,3.770909,4.077091,2.636364,2.426909
27999,37.057827,0.431737,0.499285,0.506076,48915.959135,3.733738,4.122588,2.664403,2.441387
45998,37.280407,0.443189,0.500968,0.495804,48980.986730,3.769529,4.011298,2.697870,2.481924
63997,37.322100,0.431343,0.494104,0.512742,48882.548615,3.756942,4.138836,2.718144,2.454165
81996,37.443073,0.446829,0.495610,0.497805,48759.869307,3.770732,4.070000,2.743902,2.469512

In [12]:
df.groupby("Recruiting Location Code")["Salary"].mean()

Recruiting Location Code
10000    48632.998480
27999    48915.959135
45998    48980.986730
63997    48882.548615
81996    48759.869307
Name: Salary, dtype: float64

In [13]:
df["Recruiting Location Code"].value_counts()

81996    4100
45998    3098
27999    2798
63997    2629
10000    1375
Name: Recruiting Location Code, dtype: int64

In [14]:
df["Salary"].value_counts()

52053.76    2
42053.16    2
52274.60    2
44287.04    2
43273.68    2
           ..
53296.66    1
46508.58    1
54853.41    1
45706.51    1
45281.34    1
Name: Salary, Length: 13948, dtype: int64

In [15]:
import sklearn as sk

In [16]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

In [17]:
df['University'] = df['University'].astype('category')
#df['Email Domain'] = df['Email Domain'].astype('category')
df = pd.get_dummies(df)

In [18]:
df

,Current Evaluation Model of Likelihood to Leave,EmployeeLeft,Hired through SMTP,Marked for PHT Program,Recruiting Location Code,Salary,"Survey, Relative, Attitude toward Environment","Survey, Relative, Attitude toward Peers","Survey, Relative, Peer's Average Attitude toward Peers","Survey, Relative, Peer's Average Attitude toward Work/Life Balance",University_COMSATS Institute of Information Technology,University_Enugu State University of Science and Technology,University_NHTV Breda University of Professional Education,University_Nazarene Bible College,University_St. Norbert College,University_UniversitÃ© de Corse Pascal Paoli
0,38.3,1.0,0,1,27999,41675.71,3,5,7,5,0,0,0,0,1,0
1,38.0,1.0,0,0,81996,45810.49,4,3,1,2,0,0,0,0,1,0
2,32.5,0.0,1,1,10000,51701.41,3,1,1,3,0,0,0,0,1,0
3,36.5,0.0,1,1,10000,40169.06,2,8,4,4,0,1,0,0,0,0
4,51.3,1.0,0,0,45998,55204.27,5,2,1,4,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13995,66.4,0.0,1,0,45998,51019.41,5,3,1,1,0,0,0,1,0,0
13996,39.7,1.0,1,0,63997,50547.92,5,2,1,4,0,1,0,0,0,0
13997,56.2,1.0,0,1,10000,48895.86,5,7,1,3,0,0,0,1,0,0
13998,41.7,1.0,0,1,63997,49234.60,5,3,1,3,1,0,0,0,0,0
13999,43.8,0.0,1,0,45998,48146.47,3,3,1,3,0,0,1,0,0,0

In [19]:
y = df.iloc[:,1]
X = df.iloc[:,:15]

In [20]:
X = X.drop(columns=['EmployeeLeft'])

In [21]:
import sklearn as sk
from sklearn.linear_model import LogisticRegression

In [22]:
LR = LogisticRegression(random_state=0, solver='lbfgs', multi_class='ovr').fit(X, y)
LR.predict(X.iloc[460:,:])
round(LR.score(X,y), 4)

0.5484

In [23]:
from sklearn import svm

In [24]:
SVM = svm.LinearSVC()
SVM.fit(X, y)
SVM.predict(X.iloc[460:,:])
round(SVM.score(X,y), 4)

/anaconda/envs/azureml_py36/lib/python3.6/site-packages/sklearn/svm/_base.py:947: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)

0.439

In [25]:
from sklearn.ensemble import RandomForestClassifier

In [26]:
RF = RandomForestClassifier(n_estimators=100, max_depth=2, random_state=0)
RF.fit(X, y)
RF.predict(X.iloc[460:,:])
round(RF.score(X,y), 4)

0.7742

In [27]:
from sklearn.neural_network import MLPClassifier

In [28]:
NN = MLPClassifier(solver='lbfgs', alpha=1e-5, hidden_layer_sizes=(5, 2), random_state=1)
NN.fit(X, y)
NN.predict(X.iloc[460:,:])
round(NN.score(X,y), 4)

0.439

In [30]:
from fairlearn.reductions import GridSearch
from fairlearn.reductions import DemographicParity

import numpy as np
import pandas as pd
from sklearn.linear_model import LogisticRegression

In [33]:
import matplotlib.pyplot as plt
def plot_data(Xs, Ys):
    labels = np.unique(Xs["example_sensitive_feature"])
    
    for l in labels:
        label_string = str(l.item())
        mask = Xs["example_sensitive_feature"] == l
        plt.scatter(Xs[mask].credit_score_feature, Ys[mask], label=str("Label="+label_string))
        plt.xlabel("Credit Score")
        plt.ylabel("Got Loan")
        
    plt.legend()
    plt.show()

In [34]:
unfair_model = LogisticRegression(solver='liblinear', fit_intercept=True)
unfair_model.fit(X, y, sample_weight=np.ones(len(y)))

unfair_model.coef_

array([[-1.55239092e-02, -8.77412678e-02, -1.08050011e-01,
        -7.98036004e-06, -3.02520153e-05,  4.46758779e-01,
        -8.92249481e-02, -5.48793571e-02,  4.96085189e-01,
        -3.75936786e-02,  1.44134814e-02, -2.51975946e-02,
        -3.55894549e-02,  1.18114718e-01]])

In [ ]:
Y_predict_unfair = unfair_model.predict(X)
plot_data(X, Y_predict_unfair)

In [36]:
first_sweep=GridSearch(LogisticRegression(solver='liblinear', fit_intercept=True),
                       constraints=DemographicParity(),
                       grid_size=7)

first_sweep.fit(X, y, sensitive_features=y)

In [37]:
lambda_vecs = first_sweep._lambda_vecs
lambda_vecs[0]

sign  event  group_id
+     all    0.0         0.0
             1.0         0.0
-     all    0.0         0.0
             1.0         2.0
Name: 0, dtype: float64

In [ ]:
actual_multipliers = [lambda_vecs[col][("+", "all", 2)]-lambda_vecs[col][("-", "all", 2)] for col in lambda_vecs]
actual_multipliers

In [ ]:
first_sweep_sensitive_feature_weights = [
            predictor.coef_[0][1] for predictor in first_sweep._predictors]
plt.scatter(actual_multipliers, first_sweep_sensitive_feature_weights)
plt.xlabel("Lagrange Multiplier")
plt.ylabel("Weight of Protected Attribute in Model")
plt.show()

In [41]:
from sklearn.model_selection import GridSearchCV

In [42]:
parameters = {'kernel':('linear', 'rbf'), 'C':[1, 10]}

In [43]:
svc = svm.SVC()

In [44]:
clf = GridSearchCV(svc, parameters)

In [45]:
#SVM.fit(X, y)

In [ ]:
clf.fit(X, y)

In [ ]:
sorted(clf.cv_results_.keys())

In [ ]:
import sklearn.metrics as skm

In [29]:
#from fairlearn.metrics import MetricFrame
from sklearn.metrics import accuracy_score
from sklearn.tree import DecisionTreeClassifier

In [30]:
from fairlearn.metrics import selection_rate

In [31]:
from fairlearn.metrics import MetricFrame

ImportError: cannot import name 'MetricFrame'

In [32]:
classifier = DecisionTreeClassifier(min_samples_leaf=10, max_depth=4)
classifier.fit(X, y)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=4, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=10, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [33]:
y_pred = classifier.predict(X)

In [34]:
gm = MetricFrame(accuracy_score, y, y_pred, sensitive_features=sex)

NameError: name 'MetricFrame' is not defined

In [35]:
from fairlearn.widget import FairlearnDashboard
FairlearnDashboard(sensitive_features=EmployeeLeft,
                   sensitive_feature_names=['EmployeeLeft'],
                   y_true=y,
                   y_pred={"initial model": y_pred})

NameError: name 'EmployeeLeft' is not defined

In [36]:
from fairlearn.widget import FairlearnDashboard
from sklearn.model_selection import train_test_split
from fairlearn.reductions import GridSearch
from fairlearn.reductions import DemographicParity, ErrorRate

from sklearn.preprocessing import LabelEncoder, StandardScaler
from sklearn.linear_model import LogisticRegression
import pandas as pd

In [38]:
A = df["EmployeeLeft"]

In [41]:
X_train, X_test, Y_train, Y_test, A_train, A_test = train_test_split(X,
                                                                     y,
                                                                     A,
                                                                     test_size=0.2,
                                                                     random_state=0,
                                                                     stratify=y)

# Work around indexing bug
X_train = X_train.reset_index(drop=True)
A_train = A_train.reset_index(drop=True)
X_test = X_test.reset_index(drop=True)
A_test = A_test.reset_index(drop=True)

In [42]:
unmitigated_predictor = LogisticRegression(solver='liblinear', fit_intercept=True)

unmitigated_predictor.fit(X_train, Y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='liblinear', tol=0.0001, verbose=0,
                   warm_start=False)

In [43]:
FairlearnDashboard(sensitive_features=A_test, sensitive_feature_names=['EmployeeLeft'],
                   y_true=Y_test,
                   y_pred={"unmitigated": unmitigated_predictor.predict(X_test)})

FairlearnWidget(value={'true_y': [1.0, 0.0, 0.0, 1.0, 1.0, 0.0, 0.0, 0.0, 1.0, 1.0, 1.0, 1.0, 0.0, 1.0, 1.0, 0â€¦

In [ ]:
skm.recall_score(Y_test, Y_pred)

In [44]:
sweep = GridSearch(LogisticRegression(solver='liblinear', fit_intercept=True),
                   constraints=DemographicParity(),
                   grid_size=71)

In [45]:
sweep.fit(X_train, Y_train,
          sensitive_features=A_train)

#predictors = sweep.predictors

AttributeError: 'GridSearch' object has no attribute 'predictors_'

In [47]:
predictors = sweep.predictors_

AttributeError: 'GridSearch' object has no attribute 'predictors_'

In [48]:
errors, disparities = [], []
for m in predictors:
    def classifier(X): return m.predict(X)

    error = ErrorRate()
    error.load_data(X_train, pd.Series(Y_train), sensitive_features=A_train)
    disparity = DemographicParity()
    disparity.load_data(X_train, pd.Series(Y_train), sensitive_features=A_train)

    errors.append(error.gamma(classifier)[0])
    disparities.append(disparity.gamma(classifier).max())

all_results = pd.DataFrame({"predictor": predictors, "error": errors, "disparity": disparities})

non_dominated = []
for row in all_results.itertuples():
    errors_for_lower_or_eq_disparity = all_results["error"][all_results["disparity"] <= row.disparity]
    if row.error <= errors_for_lower_or_eq_disparity.min():
        non_dominated.append(row.predictor)

NameError: name 'predictors' is not defined

In [ ]:
dashboard_predicted = {"unmitigated": unmitigated_predictor.predict(X_test)}
for i in range(len(non_dominated)):
    key = "dominant_model_{0}".format(i)
    value = non_dominated[i].predict(X_test)
    dashboard_predicted[key] = value


FairlearnDashboard(sensitive_features=A_test, sensitive_feature_names=['sex'],
                   y_true=Y_test,
                   y_pred=dashboard_predicted)